@media (max-width: 1320px) {
  .studies__btn {
    width: 168px;
  }
}

@media (max-width: 1260px) {
  .studies__sm-title {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1002px;
  }

  .studies__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .studies__sm-title {
    font-size: 18px;
  }

  .studies__btn {
    width: 200px;
  }
}

@media (max-width: 1128px) {}

@media (max-width: 1080px) {}

@media (max-width: 1020px) {
  .studies__btn {
    width: 180px;
  }
}

@media (max-width: 992px) {
  .studies__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .header__svg2 {
    display: none;
  }

  .header__online {
    display: none;
  }

  .studies__btn {
    width: 260px;
  }

  .footer {
    padding: 47px 62px 98px 59px
  }

  .footer__nav {
    display: none;
  }

  .footer__second {
    display: block;
  }

  .footer__second:hover {
    text-decoration-line: underline;
  }

  .footer__second:active {
    color: var(--grass-color);
  }

  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 105px 33px 1fr;
    align-items: start;
  }

  .footer__logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer__copyright {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer__second {
    text-align: start;
  }

}



@media (max-width: 920px) {
  .studies__sm-title {
    font-size: 16px;
  }

  .studies__sm-desc {
    font-size: 13px;
  }

  .studies__btn {
    width: 240px;
  }
}

@media (max-width: 800px) {
  .studies__btn {
    width: 215px;
  }
}

@media (max-width: 768px) {}

@media (max-width: 728px) {
  .studies__btn {
    width: 150px;
  }
}

@media (max-width: 630px) {
  .studies {
    padding: 13% 14% 30%;
  }

  .studies__grid {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    width: 100%;
  }

  .studies__btn {
    width: 280px;
  }
}

@media (max-width: 600px) {}

@media (max-width: 560px) {
  .header {
    padding: 0 18px 0 8px;
  }

  .studies {
    padding: 10% 10% 30%;
  }

  .footer {
    height: auto;
    display: flex;
    padding: 33px 0 30px;
  }

  .footer__second {
    display: none;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .footer__link {
    text-align: start;
  }

  .logo {
    margin-right: 0;
  }

  .footer__link:not(:last-child) {
    margin-right: 0;
  }

  .footer__link {
    margin-bottom: 14px;
  }

  .footer__link_1 {
    margin-top: 33px;
  }

  .footer__copyright {
    margin-top: 20px;
  }
}

@media (max-width: 520px) {
  .studies__btn {
    width: 260px;
  }
}

@media (max-width: 480px) {}

@media (max-width: 460px) {
  .studies__btn {
    width: 235px;
  }
}

@media (max-width: 420px) {
  .studies {
    padding: 10% 5% 30%;
  }

  .studies__btn {
    width: 200px;
  }
}

@media (max-width: 390px) {}

@media (max-width: 360px) {}